<div class="jumbotron">
    <h1 class="display-4">Typescript App</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt non laborum modi atque alias porro voluptatibus labore, dolores incidunt ipsam fugiat hic tempore iste earum optio pariatur totam facere aperiam!</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia temporibus animi quod nulla voluptatum? Nam cum iure quisquam quod rerum itaque illum dolore, exercitationem maiores velit eveniet laboriosam eum molestias?</p>
    <a href="#" class="btn btn-primary btn-lg">
        Tasks List
    </a>
</div>